<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title></title>
  <!-- <style>

  .section1{
    min-height: 320px;
    background-image: url(images/background9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .section3{
    min-height: 300px;
    background-image: url(images/background9.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  </style> -->


  <!-- bootstarp scripts -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

  <!-- font awesome cdn link  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- font-awsome -->
  <script src="https://kit.fontawesome.com/ab110968e7.js" crossorigin="anonymous"></script>


  <!-- external css file link -->
  <link rel="stylesheet" href="{{url_for('static',filename='plan.css')}}">



</head>

<body>



  <div class="menu">
    <ul>
      <img class="logo" src="{{url_for('static',filename='image/logofinal5.png')}}" alt="logo">
      <span class="logotext">HEALTHINESS</span>
      <li><a href="/"> Home </a></li>
      <li><a href="about"> About </a></li>
      <li><a href="login"> Login/Sign Up</a></li>
    </ul>
  </div>




  <div class="section1">
  </div>


  <div class="section2">



    <h1 style=" margin-bottom:5%;">Plan Your Journey</h1>

    <!-- <form class="city" action="/" method="post"> -->

      <!-- <input list="city" name="city" id="cities">


      <datalist id="cities">

        <option value="New Delhi">
        <option value="Mumbai">
        <option value="Banglore">
        <option value="Kolkata">
        <option value="Chennai">
      </datalist>
      <input type="submit">
    </form> -->
    <form class="city" action="plan/result" method="post">
      <label for="city">Choose your home city : </label>
      <input type="text" name="cityName" placeholder="city name">
      <label for="nxtcity">Choose your city you want to visit : </label>
      <input type="text" name="cityName2" placeholder="city you want to visit">
      <button type="submit" name="submit">PREDICT YOUR JOURNEY</button>
    </form>

    {% if label!=1%}
      <h1 style=color:red;>{{label}}</h1>
    {% endif %}

    <!-- <form class="city" action="/" method="post">
      <label for="nxtcity">Choose your city you want to visit: </label>
      <input list="nxtcity" name="nxtcity" id="nxtcities">


      <datalist id="nxtcities">

        <option value="New Delhi">
        <option value="Mumbai">
        <option value="Banglore">
        <option value="Kolkata">
        <option value="Chennai">


      </datalist>
      <input type="submit">

    </form> -->





  </div>




  <div class="section3">
  </div>










  <section class="footer">

    <div class="box-container">

      <div class="box">
        <h3>quick links</h3>
        <a href="parallax1.html"> <i class="fas fa-chevron-right"></i> home </a>
        <a href="parallax1.html#features"> <i class="fas fa-chevron-right"></i> services </a>
        <a href="about.html"> <i class="fas fa-chevron-right"></i> about </a>
        <a href="parallax1.html#users"> <i class="fas fa-chevron-right"></i> review </a>
      </div>

      <div class="box">
        <h3>our services</h3>
        <a href="diseaseprediction.html"> <i class="fas fa-chevron-right"></i> Disease Prediction </a>
        <a href="plan.html"> <i class="fas fa-chevron-right"></i> Plan Your Journey </a>
        <a href="exercise.html"> <i class="fas fa-chevron-right"></i> Exercise Recommender & posture corrector </a>
        <a href="#"> <i class="fas fa-chevron-right"></i> Doctor Consultation </a>
        <a href="#"> <i class="fas fa-chevron-right"></i> Paralysis Predictor </a>
      </div>

      <div class="box">
        <h3>contact info</h3>
        <a href="#"> <i class="fas fa-phone"></i> +123-456-7890 </a>
        <a href="#"> <i class="fas fa-phone"></i> +111-222-3333 </a>
        <a href="#"> <i class="fas fa-envelope"></i>healthiness@gmail.com </a>
        <a href="#"> <i class="fas fa-envelope"></i> infinity@gmail.com </a>
        <a href="#"> <i class="fas fa-map-marker-alt"></i> Ghaziabad, india - 201206 </a>
      </div>

      <div class="box">
        <h3>follow us</h3>
        <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
        <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
        <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
        <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
        <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
        <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
      </div>

    </div>

    <div class="credit"> created by <span>infinity</span> | all rights reserved </div>

  </section>



</body>

</html>
